/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/configure~
/depcomp
/install-sh
/libtool
/ltmain.sh
/man/egalax.4
/missing
/stamp-h1

*.la
*.lo

.deps
.libs
Makefile
Makefile.in
